seisfilereference.create=CREATE TABLE SeisFileReference (channel_id	INTEGER, begin_time_id INTEGER, end_time_id INTEGER, file_path VARCHAR)
seisfilereference.insert=INSERT INTO SeisFileReference (channel_id, begin_time_id, end_time_id, file_path) VALUES (?, ?, ?, ?)
seisfilereference.select=SELECT channel_id, begin_time_id, end_time_id, file_path FROM SeisFileReference WHERE \
	channel_id = ? AND \
	begin_time_id IN (SELECT time_id FROM time WHERE time_stamp <= ?) AND \
	end_time_id IN (SELECT time_id FROM time WHERE time_stamp >= ?) 
